/storage/redis/data/dump.rdb
/.env
/.idea/dataSources.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/test.iml
